body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica Neue;
    

    
}

.raum1{
    width: 150px;
}

.fade-enter-active, .fade-leave-active {
    
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    position: center;
    
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }

.image {
    width: 160px;
}


.prevNextBtn {
    width: 20px;
}